img{
/*max-width: 200px*/
}

body{
padding-top: 50px;

/*scroll-spy*/
position: relative;
}

.navbar {
border-radius: 0
}

#mission{
padding: 0 10px
}


/*Page*/
.page{}
.page h2{}


/**  Page -- Specials **/
#specials {}
.special {}
.special img{}
.special h3{}
.special p{}


/**  Page -- Bakers **/
#bakers{
background: lightskyblue;
padding: 100px 0;
}

/**  Page -- Testimonials **/
#testimonials{
padding: 0;
}
#testimonials h2{
display: none
}

#testimonials h2{
background-color: rgba(255,255,255,.5);
}

#testimonials blockquote {
margin: 0;
padding: 0;
border-left: none;
min-height: 500px;
position: relative;
}

#testimonials blockquote .quote {
background-color: rgba(255,255,255,0.6);
padding: 20px 5%;
position: absolute;
bottom: 0;
width: 75%;
font-weight: 400;
border-radius: 0 50px 0 0;
}

#testimonials blockquote .quote:hover {
background-color: rgba(239,240,196,.9);
}

#testimonials #fredah{
background: url("http://lorempixel.com/920/920/people/1") no-repeat center center;
background-size:cover;
}
#testimonials #aubreyr{
background: url("http://lorempixel.com/920/920/animals/1") no-repeat center center;
background-size:cover;
}
#testimonials #jamesm{
background: url("http://lorempixel.com/920/920/people/5") no-repeat center center;
background-size:cover;
}
#testimonials #anas{
background: url("http://lorempixel.com/920/920/city/7") no-repeat center center;
background-size:cover;
}



/**  Footer **/

footer{
	background: #586d74;
	color: white;
	/*font-size: .8em;*/
	padding: 20px 0 40px 0;
}

footer a{
	color:#E0E6AE !important;
}
footer a:hover{
	color:#E0C856 !important;
}

footer .navbar{
	margin-bottom: 0;
	min-height: 0;
}
footer .phone{
	color: #e0e6ae;
	font-size: 1.4em;
	font-weight: bold;

}

footer .navbar-default{
	background: transparent;
	border:none;
	margin-right: 40px;
}



