img{
/*max-width: 200px*/
}

body{
padding-top: 50px;
}

.navbar {
border-radius: 0
}

#mission{
padding: 0 10px
}


/*Page*/
.page{}
.page h2{}


/**  Page -- Specials **/
#specials {}
.special {}
.special img{}
.special h3{}
.special p{}
